@import '_color-definitions'
$color-primary: $palette-grey-700
$color-accent: $palette-orange-500
$serif-font-family: 'Vollkorn', serif
@import 'material-design-lite'

@import url(https://fonts.googleapis.com/css?family=Vollkorn)

@import 'application'
@import 'snapshots'

body
  background: unquote("rgb(#{$palette-grey-200})")
