@import '_color-definitions'
$color-primary: $palette-blue-500
$color-accent: $palette-orange-500
@import 'material-design-lite'

@import 'headlines'

body
  background: unquote("rgb(#{$palette-grey-300})")
