.application-credits
  font:
    family: $serif-font-family
  line-height: 1.25em
  margin: 0
  opacity: .5
  text-align: right

  a
    color: inherit

.application-github-link
  margin-left: 1em
  opacity: .5
  transition: opacity .35s
  width: 30px

  &:hover
    opacity: 1

  img
    width: 100%

.application-header
  background: #fff
  color: unquote("rgb(#{$color-primary})")

.application-layout
  position: absolute

.application-title
  font:
    family: $serif-font-family
    size: 2em
  letter-spacing: -.03em
