.headlines
  margin: 0 auto
  max-width: 900px

.headlines-card
  width: 100%

.headlines-card-screenshot
  background:
    repeat: no-repeat
    size: cover
  margin: 0

  img
    width: 100%

.headlines-card-date
  text-transform: uppercase
