.site
  display: flex
  height: 100%
  overflow-x: auto
  position: absolute
  width: 100%

.site-snapshot-date
  text-transform: uppercase

.site-list
  list-style-type: none
  overflow-x: auto
  padding: 0
  white-space: nowrap

  li
    display: inline-block
    width: 200px

.site-snapshot
  box-sizing: border-box
  cursor: pointer
  display: flex
  flex-direction: column
  height: 100%
  margin: 0 16px
  padding: 16px 0 // TODO: Use variable for gutter

  figcaption
    @extend .mdl-card__supporting-text
    padding:
      left: 0
      right: 0

  img
    background: #fff
    width: 100%

.site-snapshot-image
  @include screenshot
  background-color: unquote("rgba(#{$body-background-color}, 1)")
  transition: flex-grow .35s, background-color .35s, box-shadow .15s
  width: 300px

  &.site-snapshot-image-loading
    background:
      color: unquote("rgb(#{$color-primary})")
      image: url(/assets/images/paper.svg)
      position: center center
      repeat: no-repeat
      size: 100px
    flex-grow: 1
    height: 100%

    img
      background-color: rgba(255, 255, 255, 0)

.site-snapshot
  width: calc(100% - 16px) // TODO: Use variable for gutter
