.site
  height: 100%
  position: absolute
  width: 100%

.site-coverflow
  max-height: 100%

  .cover
    display: none
    height: 100%

    &.current .site-screenshot-image
      @extend .mdl-shadow--8dp

    &.site-screenshot-coverflow-initialized
      display: initial

.site-coverflow-cover-date
  text-transform: uppercase

.site-list
  list-style-type: none
  overflow-x: auto
  padding: 0
  white-space: nowrap

  li
    display: inline-block
    width: 200px

.site-screenshot
  box-sizing: border-box
  display: flex
  flex-direction: column
  height: 100%
  margin: 0
  padding: 16px 0 // TODO: Use variable for gutter

  figcaption
    @extend .mdl-card__supporting-text
    padding:
      left: 0
      right: 0

  img
    background: #fff
    width: 100%

.site-screenshot-image
  background-color: unquote("rgba(#{$body-background-color}, 1)")
  border:
    color: unquote("rgb(#{$color-primary})")
    style: solid
    width: 1px
  overflow: hidden
  transition: flex-grow .35s, background-color .35s, box-shadow .15s
  width: 300px

  &.site-screenshot-image-loading
    background:
      color: unquote("rgb(#{$color-primary})")
      image: url(/assets/images/paper.svg)
      position: center center
      repeat: no-repeat
      size: 100px
    flex-grow: 1
    height: 100%

    img
      background-color: rgba(255, 255, 255, 0)

.site-snapshot
  width: calc(100% - 16px) // TODO: Use variable for gutter
