.site
  margin: 16px auto // TODO: Use variable for gutter
  position: relative
  width: 80%

.site-screenshot
  figcaption
    @extend .mdl-card__supporting-text
    padding:
      left: 0
      right: 0

  img
    background: #fff

.site-screenshot-image
  background: unquote("rgb(#{$body-background-color})")
  border: 1px solid unquote("rgb(#{$color-primary})")
  max-height: 450px
  overflow: hidden

.site-coverflow-cover-date
  text-transform: uppercase

.site-list
  list-style-type: none
  overflow-x: auto
  padding: 0
  white-space: nowrap

  li
    display: inline-block
    width: 200px

.site-snapshot
  width: calc(100% - 16px) // TODO: Use variable for gutter
