.sites-credits
  display: none

  @media (min-width: 640px)
    color: $layout-header-tab-text-color
    display: block
    font:
      weight: 100
    line-height: 1.25em
    margin: 0
    text-align: right

    a
      color: $layout-header-tab-text-color
      font-weight: bold
      text-decoration: none
      transition: color .35s

      &:hover
        color: $layout-header-text-color

.sites-github-link
  margin-left: 1em
  opacity: .5
  transition: opacity .35s
  width: 30px

  &:hover
    opacity: 1

  img
    width: 100%

.sites-header
  background-color: unquote("rgb(#{$color-primary})")
  color: #fff

.sites-header-row
  padding-left: 0

.sites-layout
  position: absolute

.sites-logo
  padding: 0 1em 0 1.5em
  width: 40px

.sites-main
  position: relative

.sites-tabs
  a.active
    @extend .is-active

.sites-title
  color: inherit
  text-decoration: none

  span
    font:
      family: $serif-font-family
      size: 2em
    letter-spacing: -.03em
