.snapshots
  margin: 0 auto
  max-width: 900px

.snapshots-card
  width: 100%

.snapshots-card-screenshot
  background:
    repeat: no-repeat
    size: cover
  margin: 0
  max-height: 300px
  overflow: hidden

  img
    width: 100%

.snapshots-card-date
  text-transform: uppercase
