<div class="site">
  {{#if slicedSnapshots}}
    {{#each slicedSnapshots as |snapshot|}}
    {{#link-to "sites.site.snapshot.headlines"
               snapshot.id
               tagName="figure"
               classNames="site-snapshot"}}
        <div class="site-snapshot-image site-snapshot-image-loading">
          <img data-src="https://frontpages.imgix.net/{{snapshot.filename_s3}}?w=600&h=1200&fit=crop&crop=top,left" src="{{emptyGIF}}" alt="Screenshot">
        </div>
        <figcaption>
          <time class="site-snapshot-date">
            {{moment-from-now snapshot.created_at}}
          </time>
        </figcaption>
      {{/link-to}}
    {{/each}}
  {{/if}}
</div>
