<div class="site">
  {{#if filteredSnapshots}}
    {{#jquery-coverflow animateStep=animateStep
                        classNames="site-coverflow"
                        change=updateCurrentIndex
                        enableWheel=false
                        innerAngle=0
                        innerScale=0.95
                        observeForRefresh=observeForRefresh
                        outerAngle=0
                        outerScale=0.1}}
      {{#each slicedSnapshots as |snapshot|}}
        {{#jquery-coverflow-cover}}
          <figure class="site-screenshot">
            <div class="site-screenshot-image site-screenshot-image-loading">
              <img data-src="{{snapshot.file_path}}" src="{{emptyGIF}}" alt="Screenshot">
            </div>
            <figcaption>
              <time class="site-coverflow-cover-date">
                {{moment-from-now snapshot.created_at}}
              </time>
            </figcaption>
          </figure>
        {{/jquery-coverflow-cover}}
      {{/each}}
    {{/jquery-coverflow}}
  {{/if}}
</div>
