<div class="site">
  {{#if filteredSnapshots}}
    {{#jquery-coverflow classNames="site-coverflow"
                        observeForRefresh=model.id}}
      {{#each filteredSnapshots as |snapshot|}}
        {{#jquery-coverflow-cover}}
          <figure class="site-screenshot">
            <div class="site-screenshot-image site-screenshot-image-loading mdl-shadow--8dp">
              <img src="{{emptyGIF}}" data-src="{{snapshot.file_path}}" alt="Screenshot">
            </div>
            <figcaption>
              <time class="site-coverflow-cover-date">
                {{moment-from-now snapshot.created_at}}
              </time>
            </figcaption>
          </figure>
        {{/jquery-coverflow-cover}}
      {{/each}}
    {{/jquery-coverflow}}
  {{/if}}
</div>
