<div class="site">
  {{#if filteredSnapshots}}
    {{#each filteredSnapshots as |snapshot|}}
    {{#link-to "sites.site.snapshot.headlines"
               snapshot.id
               tagName="figure"
               classNames="site-snapshot"}}
        <div class="site-snapshot-image site-snapshot-image-loading">
          <img data-src="{{snapshot.file_path}}" src="{{emptyGIF}}" alt="Screenshot">
        </div>
        <figcaption>
          <time class="site-snapshot-date">
            {{moment-from-now snapshot.created_at}}
          </time>
        </figcaption>
      {{/link-to}}
    {{/each}}
  {{/if}}
</div>
