{{#link-to "sites.site"
           model.site.dasherizedName
           class="snapshot-headlines"
           tagName="section"}}
  {{#link-to "sites.site" model.site.dasherizedName class="snapshot-back"}}
    <button class="mdl-button
                   mdl-js-button
                   mdl-button--fab
                   mdl-js-ripple-effect
                   mdl-button--colored">
      <i class="material-icons">arrow_back</i>
    </button>
  {{/link-to}}

  <ul class="snapshot-headlines-list">
    {{#each headlines as |headline|}}
      <li><a href="{{headline.url}}" target="_blank" class="snapshot-headline">{{headline.title}}</a></li>
    {{/each}}
  </ul>
{{/link-to}}
