<div class="application-layout
            mdl-layout
            mdl-js-layout
            mdl-layout--fixed-header">
  <header class="mdl-layout__header application-header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title application-title">Front Pages</span>
      <div class="mdl-layout-spacer"></div>
      <p class="application-credits">Created by <a href="http://jaypinho.com" target="_blank">Jay Pinho</a> &amp; <a href="http://jessepinho.com" target="_blank">Jesse Pinho</a><br> in Brooklyn &amp; Chicago</p>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">{{outlet}}</div>
  </main>
</div>
